body{
opacity:0;
animation:fadeIn 1.5s ease forwards;
}

@keyframes fadeIn{
to{
opacity:1;
}
}

body,html{
margin:0;
padding:0;
font-family:Arial;
height:100%;
}

#bgVideo{
position:fixed;
right:0;
bottom:0;
min-width:100%;
min-height:100%;
object-fit:cover;
}

.center-btn{
position:absolute;
bottom:60px;
width:100%;
text-align:center;
}

.center-btn a{
padding:15px 40px;
background:white;
color:black;
text-decoration:none;
border-radius:8px;
font-size:20px;
}

.red-bg{
background:linear-gradient(to right,#b30000,#330000);
min-height:100vh;
text-align:center;
color:white;
padding-top:40px;
}

.title{
font-size:40px;
}

.subtitle{
letter-spacing:3px;
margin-bottom:40px;
}

.gallery{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:20px;
padding:40px;
}

.gallery img{
width:100%;
height:360px;              /* SAME SIZE */
object-fit:cover;          /* CROP CLEANLY */
border-radius:15px;

border:4px solid rgba(255,255,255,0.8);   /* FRAME */
box-shadow:0 0 15px rgba(255,255,255,0.5);

cursor:pointer;
transition:0.3s;
}

.gallery img:hover{
transform:scale(1.08) translateY(-6px);
box-shadow:0 0 35px rgba(255,255,255,1);
}



.gallery img:hover{
transform:scale(1.05);
}

.back-btn{
display:inline-block;
margin:30px;
color:white;
text-decoration:none;
font-size:18px;
}

.photo-box{
margin-top:40px;
}

.photo-box img{
max-width:80%;
border-radius:20px;
}

